.tile
{
    width: 100px;
    height: 100px;
}
.black-tile
{
    background-color: whitesmoke;
}
.white-tile
{
    background-color: navajowhite;
}
.tile img
{
    /*borer: none;*/
    width: 100px;
    height: 100px;
}