#chessboard{
display: grid;
    grid-template-columns: repeat(8,100px);
    grid-template-rows: repeat(8,100px);
    flex-wrap: wrap;
    width: 800px;
    height: 800px;
    background-color: green;
}
#chessboard.tile
{
    width: 100px;
    height: 100px;
}